

.previewImg {
   width: 100%;
   object-fit: cover;
   height: 100%;
}

@media all and (min-width:1024px) {
   .preview{
      max-height: 110px;
      max-width: 190px;
   }
   
   .previewImg {
      border-radius: 3px;
   }
 }